<div class="jumbotron text-center">
  <h1>Welcome to my Pinterest Clone</h1>
  <p>Let's get going!</p>

  <%= link_to 'Login', new_user_session_path, class: 'btn btn-md btn-default' %>
  <%= link_to 'Join', new_user_registration_path, class: 'btn btn-md btn-primary' %>
</div>
