<div class="jumbotron">
  <h1>Welcome to my Pinterest Clone</h1>
  <p>Let's get going!</p>

  <%= link_to 'Login', root_path, class: 'btn btn-lg btn-default' %>
  <%= link_to 'Join', root_path, class: 'btn btn-lg btn-primary' %>
</div>
